@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaRegular.woff2') format('woff2'), url('../fonts/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNovaRegular.svg#proxima_nova_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaBold.woff2') format('woff2'), url('../fonts/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNovaBold.ttf') format('truetype'), url('../fonts/ProximaNovaBold.svg#proxima_nova_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Proxima Nova';
}


/* GENERAL */

.bgDomiruth {
    background: url(../img/bgDomiruth-0.png) no-repeat bottom right;
}

.f_nova_bold {
    font-family: 'Proxima Nova Bold';
}

.text-bold {
    font-weight: 700;
}

.colorMaster {
    color: #D71421;
}

.colorBlanco {
    color: #ffffff;
}

.bgMaster {
    background: #D71421;
}

.bgBlanco {
    background: #ffffff;
}

.bgPlomo {
    background: #ededed;
}

.bgPlomo_1 {
    background: #afb0b6;
}

.img-full {
    width: 100%;
}

.mg_b_20 {
    margin-bottom: 20px;
}

.mg_t_30 {
    margin-top: 30px;
}

.mg_t_10 {
    margin-top: 10px;
}

.mg_l_r_20 {
    margin: 0 20px;
}

.mg_l_20 {
    margin-left: 20px;
}

.mg_t-1 {
    margin-top: -1px;
}

.p_0 {
    padding: 0 !important;
}

.p_10 {
    padding: 10px;
}

.p_5 {
    padding: 5px !important;
}

.p_5_0 {
    padding: 0 0 !important;
}

.p_0_15_0_0 {
    padding: 0 15px 0 0;
}

.p_r_0 {
    padding-right: 0 !important;
}

.mg_0 {
    margin-bottom: 0;
}

.w-100 {
    width: 100%;
}

.h_30 {
    height: 30px;
}

.img_top {
    vertical-align: top;
}

.line_height {
    line-height: 150%;
}

.b_t_0 {
    border-top: 0px !important;
}

h4 {
    margin-bottom: 0;
    font-family: 'Proxima Nova Bold';
}

.breadcrumd {
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 5px;
}

.breadcrumd p {
    margin-bottom: 0px;
}

.breadcrumd p:first-child {
    font-weight: 700;
    font-size: 16px;
}

.hr_titulo {
    background: #d71421;
    background: -moz-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: -webkit-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: linear-gradient(to right, #d71421 0%, #a3a4a7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#a3a4a7', GradientType=1);
    /* IE6-9 */
    height: 2px;
    border: 0;
    margin-top: 0;
}

.w-100-input {
    width: calc(100% - 20px) !important;
}


/* FORMS */

input.form-control,
input.form-control[readonly] {
    background: #DADBDD;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px !important;
    font-size: 11px;
}

input.form-control:hover,
input.form-control:focus {
    background: #DADBDD;
    outline: none !important;
}

.btn {
    font-size: 13px;
    font-family: "Proxima Nova Bold";
    text-transform: uppercase;
    padding: 2px 10px;
}

.btn-danger {
    background: #d71421;
}

.btn-border {
    border: 2px solid #fff !important;
}

.form-group label {
    font-size: 12px;
    letter-spacing: -.25px;
}


/* NUMBER */

.quantity,
.quantityy {
    height: 28px;
    position: relative;
    border-radius: 5px;
    overflow: hidden !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input,
.quantityy input {
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding: 5px 20px;
}

.quantity input:focus,
.quantityy input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 28px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: .75;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    background-color: #D71421;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
    background-color: #D71421;
}


/* SELECT */

.custom-select {
    border: 0;
    border-radius: 10px;
    height: calc(1.70rem + 0px);
    overflow: hidden !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #DADBDD !important;
    background-size: 25px 30px;
    background-image: url("../svg/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5px 10px;
    font-size: 13px;
}

.bfh-selectbox .bfh-selectbox-toggle {
    padding: 4px 24px 4px 12px !important;
    border-radius: 10px;
    border: 0;
    background-color: #DADBDD !important;
    background-size: 25px 30px;
    background-image: url("../svg/arrow-select.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option {
    font-size: 12px;
}

.bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option img {
    vertical-align: baseline;
}

.bfh-selectbox .bfh-selectbox-options {
    width: 100%;
    margin-top: -5px !important;
}


/* TABLE */

table thead tr th {
    color: #fff;
    font-size: 13px;
    padding: 5px 10px !important;
    text-transform: uppercase;
    background: #D71421;
}

table thead tr th:first-child {
    border-radius: 5px 0 0 0 !important;
}

table thead tr th:last-child {
    border-radius: 0 5px 0 0 !important;
}

table tbody tr td {
    font-size: 12px;
    padding: 5px 10px !important;
}

.table-striped tbody tr {
    background: #CACACA !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background: #D9DADC !important;
}

.table-striped tbody tr td {
    border-left: 1px solid #9A999F;
}

.table-striped tbody tr td:first-child {
    border-left: 0px !important;
}


/* LOGO */

.navbar {
    text-align: center;
    position: relative;
    z-index: 9;
}

.navbar hr {
    border: 0;
    float: left;
    width: 100%;
    height: 2px;
    z-index: 98;
    left: 0;
    top: 50px;
    position: absolute;
    background: #cccccc;
}

.navbar-brand {
    left: 50%;
    margin-left: -130px;
    z-index: 99;
    padding: 10px;
    display: block;
    background: #fff;
    position: relative;
}

.navbar-brand img {
    width: 240px;
    height: auto;
}


/* ASIDE */

.aside {
    padding: 10px;
    background: #d71421;
    background: -moz-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: -webkit-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: linear-gradient(to right, #d71421 0%, #a3a4a7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#a3a4a7', GradientType=1);
}

.aside h5 {
    font-size: 20px;
    color: #1a1a1a;
    border-bottom: 2px dashed #CACACA;
    font-family: "Proxima Nova Bold";
}

.aside hr {
    border: 0;
    border-bottom: 2px dashed #CACACA;
}

.aside hr.hr {
    border: 0;
    border-bottom: 3px solid #CACACA;
}


/* SEARCH HIDDEN */

.search {
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: none; */
}


/* ITEM */

.item {
    margin: 10px 0;
}

.search .border,
.item .border {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #d71421 !important;
}

.item .content {
    padding: 10px 0;
}

.item .img {
    border-bottom: 3px solid #d71421;
}

.item .precio {
    font-family: "Proxima Nova Bold";
    font-size: 28px;
    color: #000000;
}

.item p {
    margin-bottom: 5px !important;
}

.item .btn-seleccionar {
    font-family: "Proxima Nova";
    font-size: 14px;
    text-transform: initial;
    letter-spacing: .5px;
}

.btn-none,
.item .btn-none {
    background: none !important;
    padding: 0;
    font-size: 14px;
    color: #d71421;
    font-family: "Proxima Nova";
    text-transform: initial !important;
}

.item .btn-none img {
    vertical-align: text-bottom;
}

.btn-more {
    background: none !important;
}


/* TITULO DETALLE */

.titulo_detalle {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
    background: rgb(215, 20, 33);
    background: -moz-linear-gradient(-45deg, rgba(215, 20, 33, 1) 0%, rgba(215, 20, 33, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(215, 20, 33, 1) 0%, rgba(215, 20, 33, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(215, 20, 33, 1) 0%, rgba(215, 20, 33, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#ffffff', GradientType=1);
}

.border_detalle {
    border: 2px solid #afb0b6;
}

.info-habitacion .table-responsive {
    overflow-x: scroll;
}

.info-hotel {
    background: #DADBDD;
    padding: 20px;
}

.info-hotel .content {
    padding: 15px 0;
}

.info-hotel .content p {
    font-size: 14px;
    margin-bottom: 5px;
}

.habitacion {
    padding: 0 10px 0 0;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 2px dashed #DADBDD;
}

.habitacion input[type="text"] {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Proxima Nova Bold";
}

.habitacion .table-striped {
    margin-bottom: 0;
}

.habitacion .table thead tr th {
    font-family: "Proxima Nova Bold";
    font-size: 11px;
}

.habitacion .table-striped tbody tr td {
    text-align: center;
    border-left: 1px solid #ffffff;
    font-family: "Proxima Nova Bold";
}

.habitacion .aside {
    text-transform: uppercase;
    padding: 4px 4px 15px !important;
    font-family: "Proxima Nova Bold";
}

.habitacion .aside .bgBlanco {
    margin-bottom: 15px;
    position: relative;
}

.habitacion .aside .bgBlanco .arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid #a3a4a7;
}

.habitacion .aside h4 {
    font-size: 28px;
}

.habitacion .aside h5 {
    padding: 10px 0;
    font-size: 16px;
}

.habitacion .aside h6 {
    padding: 5px 0;
    font-size: 22px;
}

h3.descripcion {
    font-size: 14px;
    font-weight: 700;
}

h4.direccion {
    font-size: 16px;
}

.comodidades {
    padding: 0 0 10px 0;
}

.comodidades .nav {
    padding: 0 15px;
}

.comodidades .nav .nav-item {
    background: none;
    color: #000;
    font-size: 9px;
    padding: 5px;
    font-family: "Proxima Nova Bold";
    float: left;
    flex: inherit;
}


/* NRO NOCHES */

.nro_noches {
    text-align: center;
    font-family: "Proxima Nova Bold";
    background-image: url(../svg/maletin.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    width: 27px;
    height: 25px;
    color: #ffffff;
    font-size: 12px;
    padding-top: 5px;
    letter-spacing: .5px;
}


/* GALERIA */

.galeria {
    padding: 0;
}

.carousel-indicators {
    position: relative;
    padding: 0 10px !important;
    margin: 10px 0 0 0 !important;
    right: initial !important;
    left: initial !important;
    display: initial;
}

.carousel-indicators>div {
    position: relative !important;
    width: initial;
    height: initial;
    /* margin-right: 3px;
    margin-left: 3px; */
    text-indent: initial;
    padding: 3px !important;
    float: left;
    display: block;
}


/* MODAL */

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.reservaModal .modal-content {
    background: #fff url(../img/bgDomiruth-0.png) no-repeat top right;
}

.reservaModal .modal-content .modal-header {
    background: none;
    border: 0;
}

.reservaModal .modal-content .modal-header hr {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
}

.reservaModal .modal-content .modal-header span {
    background: #fff;
    padding: 10px;
    z-index: 9;
    margin-left: calc(50% - 100px);
}

.reservaModal .modal-content .modal-body {
    background: none;
    border: 0px;
}

.reservaModal .modal-content .modal-body h2 {
    font-size: 40px;
    font-family: "Proxima Nova Bold";
    text-transform: uppercase;
}

.reservaModal .modal-content .modal-body p {
    font-size: 13px;
    line-height: 17px;
    font-family: "Proxima Nova";
    text-align: justify;
}

.reservaModal .modal-content .modal-body a {
    font-size: 16px;
}

.reservaModal .modal-content .modal-footer {
    padding: 10px;
    background: #d71421;
    background: -moz-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: -webkit-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: linear-gradient(to right, #d71421 0%, #a3a4a7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#a3a4a7', GradientType=1);
}

.reservaConfirmada .modal-dialog {
    padding: 10px;
    background: #d71421;
    background: -moz-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: -webkit-linear-gradient(left, #d71421 0%, #a3a4a7 100%);
    background: linear-gradient(to right, #d71421 0%, #a3a4a7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#a3a4a7', GradientType=1);
    padding: 10px 0 !important;
    color: #fff;
}

.reservaConfirmada .modal-dialog .modal-content .modal-body h2 {
    background: url(../img/img10.png) no-repeat center cover;
}

.rg .cDeg {
    border: 0;
    padding: 10px;
    margin-bottom: 0;
    background: #d71421 !important;
    background: -moz-linear-gradient(left, #d71421 0%, #a3a4a7 100%) !important;
    background: -webkit-linear-gradient(left, #d71421 0%, #a3a4a7 100%) !important;
    background: linear-gradient(to right, #d71421 0%, #a3a4a7 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d71421', endColorstr='#a3a4a7', GradientType=1) !important;
}

.rg .cDeg.line td,
.rg .cDeg.line th {
    padding: 2px 10px !important;
}

.rg .cDeg th {
    background: none;
}

.rg .cPlomo {
    background: #c5c6ca !important;
    color: #000;
    text-transform: initial !important;
}

.rc .cBlanco th {
    background: #ffffff !important;
}

.rg .table td {
    font-family: "Proxima Nova Bold";
    font-size: 13px;
}

.rg h3 {
    font-family: "Proxima Nova Bold";
    font-size: 30px;
}

.borderTopNull td {
    border-top: 0;
}

.borderBottomNull {
    border-bottom: 0 !important;
}

.borderR th,
.borderR td {
    border-right: 2px solid #ffffff;
}

.borderT th {
    border-top: 2px solid #ffffff;
}

.rg .table thead tr th:first-child,
.rg .table thead tr th:last-child {
    border-radius: 0 !important;
}

.borderRPlomo td {
    border-right: 1px solid #e9ecef;
}


/* DATOS DE COMPRA */

.datos_compra {
    font-family: "Proxima Nova Bold";
    font-size: 13px;
}

.datos_compra p {
    padding: 0 0 0 40px;
    margin-bottom: 0;
}

.direccion_map {
    background: #d71421;
    color: #fff;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999999;
    padding: 10px;
}

.datepicker {
    z-index: 9999;
}

.bfh-slider {
    height: 2px !important;
    background-color: #9A999F !important;
}

.bfh-slider>.bfh-slider-handle {
    margin-top: -14px !important;
    background: #d71421 !important;
    width: 22px !important;
    height: 28px !important;
    border: 0 !important;
}

.bfh-slider>.bfh-slider-handle>.bfh-slider-value {
    background: none !important;
    border: 0 !important;
    color: #fff;
    width: 22px !important;
    font-size: 11px !important;
    margin-left: 0 !important;
    margin-top: 3px !important;
}


/* .bfh-slider > .bfh-slider-handle > .bfh-slider-value:before{
    position: 
} */

.bfh-slider>.bfh-slider-handle>.bfh-slider-value:after,
.bfh-slider>.bfh-slider-handle>.bfh-slider-value:before {
    top: 22px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bfh-slider>.bfh-slider-handle>.bfh-slider-value:after {
    border-top-color: #d71421;
    border-width: 11px;
    margin-left: -11px;
}

.bfh-slider>.bfh-slider-handle>.bfh-slider-value:before {
    border-width: 13px;
    margin-left: -13px;
}


/* RATINGS */

.symbol {
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    border: 0 !important;
    width: 28px !important;
    height: 25px !important;
}

.symbol-empty {
    background-color: transparent !important;
    background-image: url(../svg/star-empty.svg);
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0 !important;
}

.symbol-filled {
    background-image: url(../svg/star.svg) !important;
    background-color: transparent !important;
}


/*!
 * bootstrap-star-rating v4.0.3
 * http://plugins.krajee.com/star-rating
 *
 * Author: Kartik Visweswaran
 * Copyright: 2013 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md
 */

.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}


/*
 * Stars & Input
 */

.rating-container .rating-stars {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.rating-container .rating-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    font-size: 1px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.rating-disabled .rating-input,
.rating-disabled .rating-stars {
    cursor: not-allowed;
}

.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}

.rating-container .empty-stars {
    color: #aaa;
}

.rating-container .filled-stars {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    color: #fde16d;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 1px #777;
    text-shadow: 1px 1px #999;
}

.rating-rtl {
    float: right;
}

.rating-animate .filled-stars {
    transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
    right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
    margin-right: 0.07em;
}


/**
 * Sizes
 */

.rating-xl {
    font-size: 4.89em;
}

.rating-lg {
    font-size: 3.91em;
}

.rating-md {
    font-size: 3.13em;
}

.rating-sm {
    font-size: 2.5em;
}

.rating-xs {
    font-size: 18px;
}

.rating-xl {
    font-size: 4.89em;
}


/**
 * Clear
 */

.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
}

.clear-rating-active {
    cursor: pointer !important;
}

.clear-rating-active:hover {
    color: #843534;
}

.rating-container .clear-rating {
    padding-right: 5px;
}


/**
 * Caption
 */


/* extend support to BS4 */

.rating-container .caption .label {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
}

.rating-container .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%;
    margin-top: -0.6em;
}

.rating-container .caption {
    margin-left: 5px;
    margin-right: 0;
}

.rating-rtl .caption {
    margin-right: 5px;
    margin-left: 0;
}


/**
 * Print
 */

@media print {
    .rating-container .clear-rating {
        display: none;
    }
}

.rating-container .filled-stars {
    color: #d71421 !important;
}

.rating-container .clear-rating {
    display: none !important;
}

.rating-container .caption {
    margin-top: 0 !important;
    display: none !important;
}

.rating-container .caption .label {
    color: #D71421 !important;
    background-color: #ffffff !important;
}

.daterangepicker.dropdown-menu table thead tr th:first-child,
.daterangepicker.dropdown-menu table thead tr th:last-child,
.daterangepicker td,
.daterangepicker th {
    border-radius: 0 !important;
}

.item {
    position: relative;
    float: left;
    display: block;
}

.item label {
    color: #555;
    font-size: 8px;
}

.btn-incluye {
    padding: 2px 5px;
    margin: 0 5px 0 0;
    background: none;
    cursor: pointer;
}

.btn-incluye.check {
    background: #f1f1f1;
    border: 1px solid #555 !important;
}

.btn-incluye input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}


/* CALENDARIO */

.input_invisible {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 23%;
    bottom: 10px;
    z-index: 99;
    width: 77%;
    height: 30px;
}

.caleran-container .caleran-input .caleran-ranges i {
    margin-top: 5px !important;
}


/* AUTOCOMPLETE */

.dropdown-menu li a {
    padding: 2px 10px;
    width: 100%;
    font-size: 12px;
    width: 100%;
    display: block;
    color: #555;
    text-decoration: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background: #d1d1d1;
}


/* SWIPER */

.swiper-container {
    width: 90%;
}

.swiper-wrapper {
    margin: 20px 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    width: 17px;
    height: 34px;
    margin-top: -22px;
    background-size: 17px 34px;
}