@media (max-width: 575px) {
    .titulo_detalle {
        background: none;
    }
    .titulo_detalle .col-lg-7 {
        background: #d71421;
    }
    .habitacion {
        padding: 10px;
    }
    .aside {
        margin-top: 15px;
    }
    .info-habitacion {
        padding-left: 0;
        padding-right: 0;
    }
    .btn-responsive {
        text-align: center;
    }
    .btn-responsive button.btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .asi .aside {
        min-height: 1px;
    }
    .nro_noches {
        float: left !important;
    }
    .table-responsive {
        padding-left: 0 !important;
    }
    .input_invisible {
        opacity: 0;
        position: absolute;
        top: 28px;
        left: 15px;
        right: 0;
        bottom: 5px;
        z-index: 99;
        width: 100%;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767px) {
    .asi .aside {
        display: block !important;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
    .table-responsive {
        overflow-x: hidden;
    }
    .asi .aside {
        display: block !important;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
    .table-responsive {
        overflow-x: hidden;
    }
    .asi .aside {
        display: block !important;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .table-responsive {
        overflow-x: hidden;
    }
    .asi .aside {
        display: block !important;
    }
}